<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ConfigurationPanel">
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="main_sizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="execSizer" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="exec_path_label" member="no">
							<label>Executable path:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_EXEC_PATH" variable="m_exec_path" member="yes" />
						<flag>wxTOP|wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_BROWSE" variable="but_browse" member="no">
							<label>...</label>
							<style>wxBU_EXACTFIT</style>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="init_cmds_sizer" member="no">
					<label>Initial commands</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_INIT_COMMANDS" variable="m_initial_commands" member="yes">
							<size>196,93</size>
							<style>wxTE_AUTO_SCROLL|wxTE_MULTILINE|wxTE_DONTWRAP</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="init_cmd_warning" member="no">
							<label>These commands will be sent to the debugger on each session start</label>
							<fg>#800000</fg>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="option_sizer" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_PRETTY_PRINTERS" variable="m_check_pretty_printers" member="yes">
							<label>Use python pretty printers (gdb &gt;= 7.0 is required)</label>
						</object>
						<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_CPP_EXCEPTIONS" variable="m_check_cpp_excepetions" member="yes">
							<label>Catch C++ exceptions</label>
						</object>
						<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
